*{
	font-family: Arial;
	margin: 0;
	padding: 0;
	font-size: 15px;
}
a{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
a:hover{
	text-shadow: 2px 1px purple;
	opacity: 0.8;
}
a:active{
	color: red;
}
li{
	padding: 15px 0;
	margin-right: 15px;
}
h1{
	text-transform: uppercase;
	padding: 0 50px;
	font-size: 30px;
	max-width: 1000px;
	margin: 20px auto;
}
h2{
	font-size: 20px;
	font-weight: 800;
	margin: 20px 0; 
}
header, footer{
	background-color: #003a5a;
}
header{
	padding-top: 20px;
}
header > img{
	width: 114px;
	min-height: 30px;
	display: block;
	margin: 0 35px;
}
footer{
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
}
footer > img{
	display: block;
	margin: 0 auto;
}
form{
	margin: 0 auto;
}
form .error{
    color: #ff0000;
}
form .bojaPoruke{
    color: #ff0000;
}
input, textarea, select{
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 3px;
	height: 30px;
	margin-bottom: 20px;
}
.datum{
	opacity: 0.5;
	margin-top: 40px;
}
.logo{
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 114px;
	min-height: 30px;
}
.flex-container1{
	display: flex;
	background-color: #006398;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 35px;
	margin: 20px 0;
}
.flex-container1 > li{
	list-style: none;
}
.flex-container2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 50px;
	margin: 0 auto;
	max-width: 1000px;
}
.flex-container2 > article{
	border-bottom: 1px solid lightgray;
	width: 30%;
	padding-bottom: 20px;
}
#aktivan{
	border-bottom: 2px solid orange;
}
#submit{
	width: 100%;
	color: white;
	background-color: #006398; 
}
#submit:hover{
	opacity: 0.5;
}
#clanak{
	text-decoration: none;
	text-transform: none;
	color: black;
}
#clanak:hover{
	text-shadow: none;
	color: lightblue;
}
@media (max-width: 768px){
	.flex-container1 > li{
		width: 100%;
		margin: 5px 0;
		text-align: center;
	}
	.flex-container2{
		flex-direction: column;
		align-items: center;
		padding: 20px 0;
	}
	.flex-container2 > article{
		width: 80%;
		min-height: 150px;
	}
	#aktivan{
		border-bottom: none;
	}
}